::after, 
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition:  0.2s linear;
    background-size: cover;
    background-position: center;
    background-image: url(https://s.zst.com.br/cms-assets/2021/01/peso-de-academia-5-.png);
}
body.dark {
    background: #232323;
    } 

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, .10);

}

.box_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 460px;

    padding: 50px;
    border-radius: 10px;
    text-align: center;

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);


    border: 2px solid rgba(255, 255, 255, .2);

}

.box_login .title{
    color: #fff;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.box_login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 32px;
}


.box_login input{
    outline: none;
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 48px;
    border: 2px solid rgba(255, 255, 255, .2);
    padding-left: 16px;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 10px;

}   

.box_login input:focus{
    border: 2px solid rgba(255, 255, 255, .3);
}

.box_login input::placeholder{
    color: #ccc;

}

.box_login button{
    border: none;
    outline: none;
    width: 100%;
    height: 48px;
    font-size: 18px;
    background-color: orangered;
    color: #fFf;
    border-radius: 10px;
    cursor: pointer;
}

.box_login button:hover{background-color:rgb(219, 68, 14);

}

.box_login .divider{
    display: block;
    width: 80%;
    height: 1px;
    background-color: #fff;
    margin-top: 32px;
    margin-bottom: 32px;
    opacity: .2;
}

.box_login a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.box_login a:hover{
    text-decoration: underline;
}

div i{

    font-size: 25px;
    cursor: pointer;

    position: absolute;
    right: 5%;
    z-index: 1;
    color: #ccc;
    margin-right: 40px;
    margin-top: 85px;

}

.remember-forgot{
    display: flex;
    justify-content: space-between;

}

.remember-forgot  label input{
    accent-color: #fff;
    margin-right: 40px;
    text-size-adjust: 15px;
    color: #ccc;
}

.remember-forgot a{
    text-decoration: none;
    color: #fFf;
    font-size: 15px;
    margin-left: 25px;

}

.remember-forgot a:hover {
    text-decoration: underline;
    
}

.remember-forgot input {
    width:20px;
    margin-right: 200px;
    align-items: center;
    color: green;
}